.container{
	border: 2px solid var(--dark-dark-gray);
	padding: 16px 16px;
	width: 250px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: relative;
}

.container[data-result='2222']{
	/* background-color: var(--primary-color); */
	background-color: green;
	border-color: green;
}

.container[data-result='2222'] > div{
	background-color: green;
	border-color: var(--dark-dark-gray);
	color: var(--dark-dark-gray);
}

.container > div{
	border-radius: 20px;
	height: 32px;
	width: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--dark-gray);
	font-weight: 800;
	border: 2px solid;
}

.error{
	color: gray;
	border-color: gray;
}

.correct{
	color: green;
	border-color: green;
}

.halfCorrect{
	color:yellow;
	border-color: yellow;
}

.incorrect{
	color: red;
	border-color: red;
}

.winner_right{
	position: absolute;
	right: -50px;
	border: none !important;
	background: transparent !important;
	font-size: 30px;
}

.winner_left{
	position: absolute;
	left: -50px;
	border: none !important;
	background: transparent !important;
	font-size: 30px;
}